
#container

#your-char

.char {

}

.game-section {

	height: 150px;
	border-width: 1px;
	border-color: black;
	border-style: solid;

}

#char1 {

background-image:url('../images/Green-Care-Bear-Photo.gif');
background-repeat: no-repeat;
background-size: 120px 120px;
height: 120px;
float: left;
width: 120px;
height: 120px;
border-style: solid;
border-color: green;
border-width: 4px;
display: block;



}

#char2 {
background-image:url('../images/blue_bear.jpg');
background-repeat: no-repeat;
background-size: 120px 120px;
height: 120px;
float: left;
width: 120px;
height: 120px;
border-style: solid;
border-color: green;
border-width: 4px;
display: block;



}

#char3 	{

background-image:url('../images/Pink-Care-Bear-Photo.jpg');
background-repeat: no-repeat;
background-size: 120px 120px;
height: 120px;
	float: left;
		width: 120px;
	height: 120px;
border-style: solid;
border-color: green;
border-width: 4px;
display: block;



}


#char4 {

background-image:url('../images/Orange_bear.gif');
background-repeat: no-repeat;
background-size: 120px 120px;
height: 120px;
	float: left;
		width: 120px;
	height: 120px;
border-style: solid;
border-color: green;
border-width: 4px;
display: block;



}

#enemies-avail {
}

#restart_button {
	display: none;
}

#fight-section

#defender


#report